@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-left {
  animation: animeLeft 5s forwards;
}

.animate-right {
  animation: animeRight 5s forwards;
}

@keyframes animeLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-120%);
  }
}

@keyframes animeRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(120%);
  }
}
