* {
  padding: 0;
  margin: 0;
}

body,
html {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.clouds-page {
  overflow: hidden;
  width: 400px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cloud-section {
  position: relative;
  flex-basis: 33.4%;
}

.image-1-1 {
  position: absolute;
  width: 200px;
  left: 0px;
  bottom: 0px;
}

.image-1-2 {
  position: absolute;
  width: 200px;
  right: 0px;
  bottom: 0px;
}

.image-2-1 {
  position: absolute;
  width: 100px;
  left: 0px;
  top: 0px;
}

.image-2-2 {
  position: absolute;
  width: 250px;
  left: 10px;
  bottom: 0px;
}

.image-3-1 {
  position: absolute;
  width: 200px;
  left: 0px;
  top: 0px;
}

.image-3-2 {
  position: absolute;
  width: 200px;
  right: 0px;
  bottom: 0px;
}

.animate-left {
  animation: animeLeft 5s forwards;
}

.animate-right {
  animation: animeRight 5s forwards;
}

@keyframes animeLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-120%);
  }
}

@keyframes animeRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(120%);
  }
}
