* {
  padding: 0;
  margin: 0;
}

.clouds-page {
  overflow: hidden;
  width: 400px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cloud-section {
  position: relative;
  flex-basis: 33.3%;
}

.image-1-1 {
  position: absolute;
  width: 400px;
  left: -20px;
  bottom: 0;
}

.image-1-2 {
  position: absolute;
  width: 400px;
  right: -20px;
  bottom: 0;
}

.image-2 {
  position: absolute;
  left: -112px;
  top: -35px;
  bottom: -20px;
  height: 133%;
}

.image-3-1 {
  position: absolute;
  width: 400px;
  left: -20px;
  top: 0;
}

.image-3-2 {
  position: absolute;
  width: 400px;
  right: -20px;
  bottom: 0;
}

.animate-left {
  animation: animeLeft 2s forwards;
}

.animate-right {
  animation: animeRight 2s forwards;
}

@keyframes animeLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes animeRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}
